.btn-primary {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0.53em 0.8em;
    border: none;
    font-weight: normal;
    font-size: var(--font-0);
    line-height: normal;
    color: white;
    background: var(--tertiary);
    cursor: pointer;
    transition: all 0.25s;
}
