.simple-banner {
    height: 200px;
    width: 100%;
    background: var(--tertiary);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.text {
    font-size: 5em;
    color: white;
}

.bio-space {
    height: 100px;
    width: 100%;
    background: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.email-address {
    font-size: 0.5em;
    color: var(--tertiary);
}

.phone-number {
    font-size: 0.5em;
    color: var(--tertiary);
}
