.header-banner {
height: 150px;
width: 100%;
background: #FFBD9B;
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 1em;
}
.header-text{
    color: #0f82af;
    font-size: 5em;
}
.bio-space {
    height: 80px;
    width: 100%;
    background: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-info {
    font-size: 1em;
    color: var(--tertiary);
}
