.simple-banner {
    height: 200px;
    width: 100%;
    background: var(--tertiary);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.text {
    font-size: 5em;
    color: white;
}

.bio-space {
    height: 80px;
    width: 100%;
    background: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-info {
    font-size: 1em;
    color: var(--tertiary);
}
